.page-3{
    background-position: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../assets/images/bg-3.png);
    padding: 50px;
    align-items: center;
    h2{
        text-align: center;
        text-transform: uppercase;
        color: #4E9F0D;
        font-size: 40px;
    }
    p{
        font-family: "Raleway";
        font-weight: 100;
        color: white;
    }
}